<div class="container">
  <mat-card class="card logo-container">
    <div class="logo-wrapper">
      <img src="../../assets/ntclogov2.jpg" alt="Logo" class="logo-image" />
    </div>
    <form [formGroup]="loginForm" class="form">
      <mat-card-content>
        <div class="form-group">
          <mat-form-field class="full-width">
            <mat-label>NTC ID No:</mat-label>
            <input
              type="text"
              matInput
              placeholder="ID Number"
              formControlName="ntcnoid"
              (input)="convertToUpperCase($event)"
            />
            <mat-error
              *ngIf="loginForm.controls['ntcnoid'].hasError('required')"
              >ID Number is <strong>required</strong></mat-error
            >
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field class="full-width">
            <mat-label>Password:</mat-label>
            <input
              type="password"
              matInput
              placeholder="Password"
              formControlName="password"
            />
            <mat-error
              *ngIf="loginForm.controls['password'].hasError('required')"
              >Password is <strong>required</strong></mat-error
            >
          </mat-form-field>
        </div>
        <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
        <!-- Buttons -->
        <div class="button-group">
          <button
            mat-button
            mat-raised-button
            color="accent"
            type="submit"
            (click)="oRegister()"
          >
            Register
          </button>

          <!-- Spacer -->
          <div class="spacer"></div>

          <button
            mat-button
            color="primary"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="loginForm.invalid"
            (click)="onSubmit()"
          >
            Login
          </button>
        </div>
        <div class="overlay-spinner" *ngIf="showProgressSpinner">
          <mat-spinner class="spinner" diameter="50"></mat-spinner>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>